{{ define "footer" }}
<footer>
    <hr aria-hidden="true">
    <nav aria-label="Legal">
        <a href="/legals/terms">Terms</a>
        <a href="/legals/privacy">Privacy</a>
        <a href="/legals/cookies">Cookies</a>
    </nav>
</footer>
{{ template "cookie-banner" . }}
{{ end }}
