{{ define "header" }}
<header role="banner">
    <h1>Timo Hoyland</h1>
    <nav aria-label="Main navigation">
        <a href="https://linkedin.com/in/timo-hoyland" rel="noopener noreferrer" target="_blank">LinkedIn</a>
        <a href="https://github.com/1imo" rel="noopener noreferrer" target="_blank">GitHub</a>
        <a href="https://nottinfra.co.uk" rel="noopener noreferrer" target="_blank">NottInfra</a>
    </nav>
</header>
{{ end }}
